<!DOCTYPE html>
<html>

<head>
    <title>Progress Report Card</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="report-card">
        <div class="header">


            <div class="subject-table">
                <table>
                    <thead>
                        <tr>
                            <th>SUBJECT</th>
                            <th>CLASS SCORE (50%)</th>
                            <th>EXAMS SCORE (50%)</th>
                            <th>TOTAL SCORE (100%)</th>
                            <th>POSITION IN CLASS</th>
                            <th>GRADE</th>
                            <th>REMARKS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ENGLISH LANGUAGE</td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number" disabled></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>MATHEMATICS</td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number" disabled></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>SCIENCE</td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number" disabled></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>R.M.E</td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number" disabled></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>SOCIAL STUDIES</td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number" disabled></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>FANTE LANGUAGE</td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number" disabled></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>OUR WORLD OUR PEOPLE</td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number" disabled></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>AFRICAN HISTORY</td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number" disabled></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>PRE-TECH SKILLS</td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number" disabled></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>THINKING SKILLS</td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number" disabled></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>I.C.T</td>
                            <td><input type="number"></td>
                            <td><input type="number"></td>
                            <td><input type="number" disabled></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="footer">
                <label for="attendance">Attendance:</label>
                <input type="text" id="attendance">
                <label for="out-of">Out of:</label>
                <input type="text" id="out-of">
                <label for="promoted-to">Promoted to:</label>
                <input type="text" id="promoted-to">
                <br>
                <label for="conduct">Conduct:</label>
                <input type="text" id="conduct" class="uppercase">
                <br>
                <label for="attitude">Attitude:</label>
                <input type="text" id="attitude" class="uppercase">
                <br>
                <label for="interest">Interest:</label>
                <input type="text" id="interest" class="uppercase">
                <p>Class Teacher's Signature:</p>
                <p>Head Teacher's Signature:</p>
            </div>
        </div>
</body>

</html>